<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html ng-app="assignment-app">

<head>
  <meta charset="UTF-8">
  <title>ASSIGNMENT APP</title>
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,300' rel='stylesheet' type='text/css'>
</head>
