<% include header %>

<body>
  <div class="container">

<% if(! (typeof(error) === "undefined") ) { %>
    <h3> <%= error %>. </h3>
<% } %>

<% if(!(typeof(user) === "undefined")) { %>
      <p>Welcome <%= user.username %><br>
<% if(user.college) { %>
          You are from <%= user.college %> and pursuing <%= user.degree %>.
<% } %>
      </p>
    <a href="#/"> Home </a> |
    <a href="#/about"> About </a> |
    <a href="/Logout"> Logout </a> |

    <div
<% if(user.completedProfile == true) { %>
        class="hide"
<% } %>
    >
      <div class="main" id="shouldHide">
        <form action="/profile" method="post" autocomplete="off">

          <div class="autoCmplBox" ng-controller="autoCompleteCTRL">
            <input type="text" placeholder="Search for items" id="collegeField" ng-keydown="checkKeyDown($event)" ng-keyup="checkKeyUp($event)" ng-model="searchText" ng-change="search('college')" name="college" />
              <ul class="suggestions-list">
                <li ng-repeat="suggestion in suggestions track by $index" ng-class="{active : selectedIndex === $index}" ng-click="AssignValueAndHide($index)">{{suggestion}}</li>
              </ul>
          </div>

          <div class="autoCmplBox" ng-controller="autoCompleteCTRL">
            <input type="text" placeholder="Search for items" id="degreeField" ng-keydown="checkKeyDown($event)" ng-keyup="checkKeyUp($event)" ng-model="searchText" ng-change="search('degree')" name="degree" />
            <ul class="suggestions-list">
              <li ng-repeat="suggestion in suggestions track by $index" ng-class="{active : selectedIndex === $index}" ng-click="AssignValueAndHide($index)">{{suggestion}}</li>
            </ul>
          </div>

          <button type="submit">Update</button>
          <button type="button" onClick="hide('shouldHide')">Close</button>
        </form>
      </div>
    </div>

    <div ng-view
    <% if(user.completedProfile == false) { %>
      class="ng-hide"
    <% } %>
    ></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript">
      function hide(h) {
        var el = document.getElementById(h);
        el.style.display = 'none';
      }
    </script>

<% } else{ %>
    <h2> Temporary gateway for Login and Register URLs. </h2>
    <p>
      <a href="/login"> Login </a> <br>
     <a href="/register"> Register </a>
    </p>
<% } %>
    </div>
  </body>

  </html>
