<% include header %>

<body>
  <div class="container">

  <% if(! (typeof(error) === "undefined") ) { %>
    <h3> <%= error %>. </h3>
  <% } %>

    <h1>Register Page</h1>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Enter Username" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Register</button>
    </form>
    <br>Or you can
    <a href="/login">Login</a>.
  </div>
</body>
</html>
