html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
  background: #263948;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-align: center;
}

h2 {
  color: #fff;
  background-color: #8c98a7;
  padding: 5px 10px;
}

h3 {
  color: #fff;
  background-color: #db6460;
  padding: 5px 10px;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  text-decoration: none;
  color: #FFFFFF;
  text-align: left;
}

.container {
  margin: 100px auto 0;
  width: 500px;
}

form {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #db6460;
  margin: 5px 0;
  color: #eee;
  font-size: 1rem;
  z-index: 2;
}

button {
  text-transform: uppercase;
  padding: 5px;
  background: transparent;
  border: 1px solid #db6460;
  margin: 5px 0;
  color: #eee;
  font-size: 0.9rem;
}

.main {
  border: 2px solid #222;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 3px 2px 4px 0 rgba(1, 1, 1, 0.5);
  position: relative;
  z-index:1;
}

.hide {
  display: none;
}

button {
  cursor: pointer;
}

.autoCmplBox {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.suggestions-list {
  background: #fff;
  color: #222;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  z-index: 3;
}

.suggestions-list li{
  padding: 5px;
}
